:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	padding: 0;
	height: 100vh;

	background-color: white !important;
	background-color: #F5F5F5 !important;
	/* background-color: red !important; */

	font-family: 'Open Sans', sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@font-face {
	font-family: 'productsans';
	src: url('/fontes/Product Sans Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'productsans-bold';
	src: url('/fontes/Product Sans Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

/* CRIAR CLASSES A PARTIR DAQUI!!!! */

/* Bordas */
.bordas {
	border: solid 1px;
}

.bordas2px {
	border: 2px solid;
}

/* Fontes */
.ProductSans {
	font-family: 'productsans';
}

.Overpass {
	font-family: 'overpass';
}

/* AZUL GM (#0956FF)*/
.azulGM {
	color: #0956FF;
}

.fundoAzulGM {
	background-color: #0956FF;
	color: white;
}

.bordaAzulGM {
	border-color: #0956FF !important;
}

.bottom-bordaAzulGM {
	border-bottom: 2px solid #0956FF !important;
}

.btn-azulGM {
	background-color: #0956FF !important;
	color: white !important;
}

.btn-azulGM:hover {
	background-color: #388BFF !important;
}

/* Cinza claro (#CECECE)*/
.bordaCinza {
	border-color: #CECECE !important;
}

/* Botão branco */
.btn-White {
	background-color: white !important;
	color: black !important;
}

.btn-White:hover {
	background-color: #E6E6E6 !important;
}

/* Classe para que uma imagem ocupe o máximo possível de seu componente pai */
.imgCompleta {
	width: 100%;
	height: 100%;
	object-fit: contain;
}