:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}
/*
#f8f9fa  bem clarinho, quase branco (usado muito em dashboards clean)
#f1f3f5  levemente mais cinza, bem neutro
#e9ecef  um cinza mais perceptível, ainda suave
#dee2e6  começa a dar contraste, ótimo pra seções
#ced4da  bom para containers com leve destaque
*/
body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	padding: 0;
	height: 100vh;

	background-color: #f8f9fa !important;

	font-family: 'Open Sans', sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@font-face {
	font-family: 'productsans';
	src: url('/fontes/Product Sans Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'productsans-bold';
	src: url('/fontes/Product Sans Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

/* CRIAR CLASSES A PARTIR DAQUI!!!! */

/* Bordas */
.bordas {
	border: solid 1px;
}

.bordas2px {
    border: 2px solid;
}

/* Fontes */
.ProductSans {
    font-family: 'productsans';
}


/* AZUL GM */
.azulGM {
	color: #0956FF;
}

.fundoAzulGM {
	background-color: #0956FF;
	color: white;
}
.bordaAzulGM {
	border-color: #0956FF !important;
}

.btn-azulGM {
	background-color: #0956FF !important;
	color: white !important;
}

.btn-White {
	background-color: white !important;
	color: #0956FF !important;
}

.btn-azulGM:hover {
	background-color: #388BFF !important;
}


/* Classe para que uma imagem ocupe o máximo possível de seu componente pai */
.imgCompleta {
	width: 100%;
	height: 100%;
	object-fit: contain;
}