body{ 
    background-color: white !important;
}

.titulo {
  font-weight: 600;
  font-size: 2rem;
  text-align: left;
  border-bottom: 5px solid #0956FF;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.operador {
    border-radius: 100px;
    background-color: #0956FF;
}

.border-gm-color {
    border-bottom: 2px solid #0956FF;
}

.section {
  padding: 4rem 0;
}



.section-title {
  font-weight: 600;
  font-size: 2rem;
  text-align: left;
  border-left: 5px solid #0956FF;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

