.subtitles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operador {
    border-radius: 100px;
    background-color: #0956FF;
}

.border-gm-color {
    border-bottom: 2px solid #0956FF;
}