/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap'); */

:root {
    --borderRadius: 10px;
    --spacer: 1rem;
    --primary: #0956FF;
    --text: #6a778e;
    --linkHeight: calc(var(--spacer) * 3.5);
    --timing: 250ms;
    --transition: all var(--timing) ease;
}


/* ===== DESKTOP e TABLET ===== */
.navbar__menu {
    list-style: none;
}

.navbar__item {
    height: 3.5rem;
    width: 5rem;
}

.navbar__link {
    width: 3.5rem;
    height: 3.5rem;

    text-decoration: none;
    color: var(--text);
    transition: var(--transition);

    position: relative;
}

.navbar__link span {
    /* Espaçamento */
    margin-left: 1rem;
    padding: calc(var(--spacer) * 0.75);
}

.navbar__link:hover {
    color: white;
    background-color: var(--primary);
}

.navbar__link span {
    position: absolute;
    left: 100%;

    opacity: 0;

    color: #fff;
    background: var(--primary);

    margin-left: 1rem;
    padding: calc(var(--spacer) * 0.75);

    /* O Span só torna clicável quando está com visibility = visible */
    visibility: hidden;
    pointer-events: visible;
    /* Quebra em ' ' */
    white-space: wrap;

    transition: var(--transition);
    transform: translate(calc(-1 * var(--spacer) * 3));
}

.navbar__link:hover span,
.navbar:not(:hover) .navbar__link:focus span {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}

/* ===== CELULAR ===== */

.navbar__menu {
    list-style: none;
}

.navbarItem_Cel {
    height: 3rem;
}

.navbarLink_Cel {
    height: 3.5rem;
    text-decoration: none;
    color: var(--text);
    transition: var(--transition);
}

.navbarLink_Cel span {
    /* Espaçamento */
    margin-left: 1rem;
    padding: calc(var(--spacer) * 0.75);
}

.navbarLink_Cel:hover {
    color: white;
    background-color: var(--text);
}
