.team-section {
  padding: 70px 0;
}

.team-title {
  font-size: 2.8rem;
  font-weight: 800;
  color: #0956FF;
}

.team-description {
  font-size: 1.1rem;
  color: #444;
  max-width: 700px;
  margin: 10px auto 0 auto;
}
