/* Ocultando o footer e o header */
footer, header {
    display: none;
}

/* Link */
a {
    text-decoration: underline !important;
    cursor: pointer;
}
a:hover {color: #2125297d !important;}


/* Classes */
.form-signin {
  width: 300px;
  /* padding: 1rem; */
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
